// Theme
//
// Backgrounds

.bg1 {
    background-color: $color--theme1;
}

.bg2 {
    background-color: $color--theme2;
    color: $color--white;

    a {
        color: $color--white;

        &:hover,
        &:focus {
            color: rgba($color--white, .7);
        }
    }

}

.bg3 {
    background-color: $color--theme3;
    color: $color--white;

    li {
        background: rgba($color--white, .1);
        border: 1px solid rgba($color--white, .15);
    }
}

.bg4 {
    background-color: $color--theme4;
    color: $color--theme1;
}

.bg5 {
    background-color: $color--theme5;
    color: $color--white;
}

.bg6 {
    background-color: $color--theme6;
}
