// Theme
//
// Backgrounds

.bg1 {
    background-color: $color--theme1;
}

.bg2 {
    background-color: $color--theme2;
}

.bg3 {
    background-color: $color--theme3;
}

.bg4 {
    background-color: $color--theme4;
}

.bg5 {
    background-color: $color--theme5;
}

.bg6 {
    background-color: $color--theme6;
}
