// Theme
//
// Backgrounds

// Dark Theme

.theme--dark {
    background-color: $color--theme-dark;
    color: #D3D5F9;

    .main-nav__link {
        color: $color--white;

        &:hover {
            color: $color--white;
        }

        &:before {
            background: $color--theme-secondary;
        }

        @include breakpoint($xlarge) {
            &:after {
                background: rgba($color--white, .15);
            }
        }
    }
}

// Light Theme

.theme--light {
    background-color: $color--theme-light;
    color: $color--black;

    h1 {
        color: $color--theme-primary;

        &:after {
            background: lighten($color--theme-primary, 20%);
        }
    }

    svg {fill: $color--black;}
}

// Light Theme Secondary

.theme--light--secondary {
    background-color: $color--white;
    color: $color--black;

    h1 {
        color: $color--theme-primary;
        &:after {
            background: lighten($color--theme-primary, 20%);
        }
    }

    svg {fill: $color--black;}

    li {
        background: $color--theme-light;
        border: 1px solid darken($color--theme-light, 5%);

        h2 {
            color: $color--black;
        }
        svg {
            fill: $color--theme-secondary;
        }
    }
}

// Secondary Theme

.theme--secondary {
    background-color: $color--theme-secondary;
    color: $color--white;
}




.bg4 {
    background-color: $color--theme-highlight;
    color: $color--white;
}
